<div class="login-signup-container">
    <h2>{{ 'reset_password' | translate }} </h2>
    <form #forgotPasswordForm="ngForm" id="formId" (keydown.enter)="resetPassword()" (submit)="resetPassword()">
        <div class="mb-3 row">
            <mat-form-field>
                <mat-label for="email" class="bold">{{ "email" | translate }}</mat-label>
                <input matInput id="email" class="form-control" type="text" required [(ngModel)]="emailValue"
                    name="email" #email="ngModel">
                <mat-error *ngIf="email.invalid">{{ "required_email_error" | translate }}</mat-error>
            </mat-form-field>
        </div>
        <div class="d-flex flex-row bd-highlight mb-3 center">
            <div class="p-2 bd-highlight">
                <button type="submit" class="btn btn-success">
                    {{ "send_email" | translate }}
                </button>
            </div>
            <div class="p-2 bd-highlight" mat-dialog-actions>
                <button type="button" class="btn btn-danger" (click)="userService.navigateToPreviousPageAfterLogin()">
                    {{ "cancel" | translate }}
                </button>
            </div>
        </div>
    </form>
</div>
