<div class="outside_div">
    <button mat-icon-button class="icon-button" [matTooltip]="'delete_hobby' | translate"
          (click)="deleteOwnHobbyWithSubcollection()" style="color: red;">
        <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button class="icon-button" [matTooltip]="'record_hobby' | translate"
          (click)="addToOwnHobbies()">
        <mat-icon>add</mat-icon>
    </button>
    <h1 *ngIf="hobby" class="center"> {{"hobby_detail" | translate }} - {{ hobby.name | bilingualTranslate}}</h1>
    <div *ngIf="hobby">
        <img [src]="hobby.imageUrl" alt="{{ hobby.name | bilingualTranslate}} image" class="tile-image" />
        <p class="center">{{'description' | translate}}: {{hobby.description | bilingualTranslate}}</p>
        <h3 *ngIf="hobby.activities.length>0">{{'activity' | translate}}:</h3>
        <div *ngFor="let activity of hobby.activities">
            <app-activity-tile [activity]="activity" (deleteEventEmitter)="deleteActivity($event)"></app-activity-tile>
        </div>
    </div>
</div>