<div class="detail-div">
    <h2> {{"hobby_detail" | translate }}</h2>
    <div *ngIf="hobby">
        <div>
            <h3>{{ hobby.name | bilingualTranslate}}</h3>
            <img [src]="hobby.imageUrl" alt="{{ hobby.name | bilingualTranslate}} image" class="tile-image" />
            <p>{{'description' | translate}}: {{hobby.description | bilingualTranslate}}</p>
            <p>{{'activity' | translate}}</p>
            <div *ngFor="let activity of hobby.activities">
                <app-activity-tile [activity]="activity"></app-activity-tile>
            </div>
        </div>
</div>