<div>
    <h2> {{ "activity_wrap" | translate }}</h2>
    todo: diagramok
    <div>
     
        <ngx-charts-advanced-pie-chart 
            [view]="view"
            [results]="data"
            [gradient]="true"
            [customColors]="customColors"
            >
        </ngx-charts-advanced-pie-chart>

        <ngx-charts-bar-vertical 
            [view]="view"
            [results]="data"
            [gradient]="false"
            [xAxis]="true"
			[yAxis]="true"
            [legend]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxisLabel]="'hobbies' | translate"
			[yAxisLabel]="'spent_hours' | translate"
            
        >
		</ngx-charts-bar-vertical>

    </div>
</div>