<div>
    <h2> {{ "activity_wrap" | translate }}</h2>

    <div class="buttons">
        <button class="btn" (click)="buttonChange('allPie')" >{{ "show_all_pie" | translate }}</button>
        <button class="btn" (click)="buttonChange('allVertical')">{{ "show_all_vertical" | translate }}</button>
        <button class="btn" (click)="buttonChange('monthlyPie')">{{ "show_monthly_pie" | translate }}</button>
        <button class="btn" (click)="buttonChange('monthlyVertical')">{{ "show_monthly_vertical" | translate }}</button>
        <button class="btn" (click)="buttonChange('groupedVerticalBarChart')">{{ "show_grouped_vertical" | translate }}</button>
    </div>

    <div *ngIf="buttons['allPie']">
        <ngx-charts-advanced-pie-chart 
            [view]="view"
            [results]="data"
            [gradient]="true"
            >
        </ngx-charts-advanced-pie-chart>
    </div>
    <div *ngIf="buttons['allVertical']">
        <ngx-charts-bar-vertical 
            [view]="view"
            [results]="data"
            [gradient]="false"
            [xAxis]="true"
			[yAxis]="true"
            [legend]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxisLabel]="'hobbies' | translate"
			[yAxisLabel]="'spent_hours' | translate"
            >
		</ngx-charts-bar-vertical>
    </div>
    <div *ngIf="buttons['monthlyPie'] || buttons['monthlyVertical']">
        <label for="monthSelector">{{'select_month' | translate}}</label>
        <select id="monthSelector" [(ngModel)]="monthNumber">
            <option *ngFor="let month of globalVariables.months; let i = index" [value]="i">{{ month | translate }}</option>
        </select>

        <button (click)="showMonthlyData()">{{'show' | translate}}</button>
    </div>

    <div *ngIf="buttons['monthlyPie']">
        <ngx-charts-advanced-pie-chart *ngIf="monthlyData"
            [view]="view"
            [results]="monthlyData"
            [gradient]="true"
        >
        </ngx-charts-advanced-pie-chart>
    </div>

    <div *ngIf="buttons['monthlyVertical']">
        <ngx-charts-bar-vertical *ngIf="monthlyData"
            [view]="view"
            [results]="monthlyData"
            [gradient]="false"
            [xAxis]="true"
			[yAxis]="true"
            [legend]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxisLabel]="'hobbies' | translate"
			[yAxisLabel]="'spent_hours' | translate"
        >
		</ngx-charts-bar-vertical>
    </div>

    <div *ngIf="buttons['groupedVerticalBarChart']">
        <ngx-charts-bar-vertical-2d
            [view]="view"
            [results]="groupedVerticalBarChart"
            [gradient]="false"
            [xAxis]="true"
            [yAxis]="true"
            [legend]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxisLabel]="'months' | translate"
            [yAxisLabel]="'spent_hours' | translate"
        >
        </ngx-charts-bar-vertical-2d>
    </div>
</div>