button{
    background-color: var(--mid-light-pink-color);
    border: 1px solid var(--dark-pink-color);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    &:hover{
        background-color: var(--neon-pink-color);
        border-color: var(--dark-pink-color);
    }
    &.active{
        background-color: var(-peach-pink-color);
        border-color: var(--dark-pink-color);
    }
}
.options{
    margin: 10px;
}

.out_iv{
    margin: 15px;
}

.show_button{
    background-color: var(--success-color);
    border: 1px solid var(--dark-green-color);
    &:hover{
        background-color: var(--dark-green-color);
        border-color: var(--dark-green-color);
    }
    margin: 10px;
}