.activity-tile{
    border-radius: 5px;
    border: 1px solid var(--dark-pink-color);
    background-color: var(--lighter-pink-color);
    margin: 10px;
    padding: 10px;
}

.icon-button{
    float: right;
}

.red{
    color: red !important;
}