<div *ngIf="activity" class="activity-tile">
    <button class="icon-button" mat-icon-button [matMenuTriggerFor]="menu" *ngIf="online">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button class="red" mat-menu-item (click)="deleteActivity()">
            <mat-icon class="red">delete</mat-icon>
            {{'delete_activity' | translate}}
        </button>
    </mat-menu> 

    <p>{{'spent_hours' | translate}}: {{activity.spentHours}}</p>
    <p>{{'date' | translate}}: {{activity.date | dateTime}}</p>
    <p>{{'notes' | translate }}: {{activity.notes}}</p>
</div>