.hobby-tile {
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  width: 300px;
  max-height: 270px;
  transition: transform 0.3s ease;
}

.hobby-tile:hover {
  transform: scale(1.1);
}

.content {
  position: relative;
}

.tile-image {
  width: 100%;
  height: auto;
  display: block;
}

.header-colored{
  background-color: var(--light-yellow-color);
  padding: 10px;
}

.mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
  display: none !important;
}

button{
  border: none;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}