//dialogoknál jobb felső gomb kör alakú szürke háttere ami kijelölést reprezentál
.mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
    display: none !important;
}

.dialog-div {
    width: 60vw;
    height: 70vh;
    border: 1px solid black;
    padding: 10px;
    background-color: var(--light-pink-color);
    position: relative;
    margin: 0% !important;
}

span{
    font-size: 20px;
}

.button-row{
    text-align: end;
}

button{
    margin: 10px;
}