<mat-sidenav-container class="sidenav-container" fxFlex autosize>
    <mat-sidenav #sidenav class="sidenav mat-elevation-z8 p-0" [opened]="isScreenSmall2 ? false : false" 
    [mode]="isScreenSmall2 ? 'over' : 'side'">
  
      <mat-nav-list>

        <mat-list-item *ngIf="isScreenSmall" matLine [routerLink]="[globalVariables.ROUTES.home]" routerLinkActive="selected"
          (click)="isScreenSmall2?sidenav.toggle():{}">
          {{"home" | translate}}
        </mat-list-item>   
        
        <mat-list-item matLine [routerLink]="[globalVariables.ROUTES.hobbyList]" routerLinkActive="selected"
          (click)="isScreenSmall2?sidenav.toggle():{}">
          {{"hobby_list" | translate}}
        </mat-list-item>

        <mat-list-item matLine [routerLink]="[globalVariables.ROUTES.ownHobbies]" routerLinkActive="selected"
          (click)="isScreenSmall2?sidenav.toggle():{}">
          {{"own_hobbies" | translate}}
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item matLine [routerLink]="[globalVariables.ROUTES.activityWrap]" routerLinkActive="selected"
          (click)="isScreenSmall2?sidenav.toggle():{}">
          {{"activity_wrap" | translate}}
        </mat-list-item>
        
      </mat-nav-list>
    </mat-sidenav>
  
    <div class="app-sidenav-content">
      <div class="wrapper">
        <app-toolbar (toggleSidenav)="sidenav.toggle()" [isScreenSmall]="isScreenSmall"
          [isScreenSmall2]="isScreenSmall2"></app-toolbar>
        <router-outlet></router-outlet>
      </div>
        <div class="footer">
          <app-footer></app-footer>
        </div>
    </div>
  </mat-sidenav-container>
  