.pfp{
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 250px;
}

.column{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.data-div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 10px;
}

.data-div-item{
  display: flex;
  align-items: left;
  justify-content: left;
}