<div *ngIf="user" class="profile-component">
  <div>
    <h2>{{"my_profile" | translate}}</h2>
  </div>
  <div>
    <div class="col-md-6 offset-md-3">
      <div class="img-center-div">
        <img class="rounded-circle pfp" alt="profile_picture" referrerpolicy="no-referrer"
          [src]="user.photoURL ? user.photoURL :'../../../assets/images/pfp.jpg'">
      </div>
      <div class="name-div">
        {{user.fullName}}
      </div>
    </div>
    <div class="flex-container block ">
      <div class="flex-value">
        <span class="bold">{{'full_name' | translate}}:</span>
        <span class="margo">{{user.fullName}}</span>
      </div>
    
      <div class="flex-value">
        <span class="bold">{{'email' | translate}}:</span>
        <span class="margo">{{user.email}}</span>
      </div>
    
      <div class="flex-value">
        <span class="bold">{{'username' | translate}}:</span>
        <span class="margo">{{user.username}}</span>
      </div>
    </div>
    
    </div>
    <div class="data-div-item block">
      <button class="btn btn-danger" (click)="logout()">{{'logout' | translate}}</button>
    </div>
  </div>