<div *ngIf="user" class="profile-component">
    <div>
      <h2>{{"my_profile" | translate}}</h2>
    </div>
    <div class="column">
      <div class="img-center-div">
        <img  class="rounded-circle pfp" alt="profile_picture" referrerpolicy="no-referrer"
          [src]="user.photoURL ? user.photoURL :'../../../assets/images/pfp.jpg'">
      </div>
      <div class="name-div">
        {{user.fullName}}
      </div>
      <div class="data-div">
        <div class="data-div-item">
          <div class="data-div-item-title">
            {{'email' | translate}}
          </div>
          <div class="data-div-item-data">
            {{user.email}}
          </div>
        </div>
        <div class="data-div-item">
          <div class="data-div-item-title">
            {{'username' | translate}}
          </div>
          <div class="data-div-item-data">
            {{user.username}}
          </div>
        </div>
    </div>
      
    {{user | json }}
  </div>
  