.pfp{
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 250px;
}

.column{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.data-div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 10px;
}

.data-div-item{
  display: flex;
  align-items: left;
  justify-content: left;
}

.name-div{
  text-align: center;
}

.block{
  background-color: rgb(255, 166, 234);
  border-radius: 10px;
  padding: 10px;
  border: solid 1px black;
  margin-top: 30px;
}

button{
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px black;
  float: right;
}