<div *ngIf="user" class="profile-component">
  <div>
    <h2>{{"my_profile" | translate}}</h2>
  </div>
  <div>
    <div class="col-md-6 offset-md-3">
      <div class="img-center-div">
        <img class="rounded-circle pfp" alt="profile_picture" referrerpolicy="no-referrer"
          [src]="user.photoURL ? user.photoURL :'../../../assets/images/pfp.jpg'">
      </div>
      <div class="name-div">
        {{user.fullName}}
      </div>
    </div>
    <div class="block">
      <div class="grid_table">

        <div class="flex_value">
          {{'email' | translate}}:
        </div>

        <div class="flex_value">
          {{user.email}}
        </div>

        <div class="flex_value">
          {{'username' | translate}}:
        </div>

        <div class="flex_value">
          {{user.username}}
        </div>
      </div>
    </div>
    <div class="data-div-item block">
      <button class="btn btn-danger" (click)="logout()">{{'logout' | translate}}</button>
      <button class="btn btn-primary" (click)="editProfile()">{{'edit_profile' | translate}}</button>
    </div>
  </div>