.pfp{
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 250px;
}

.column{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
}

.margo{
  margin-left: 10px;
}


.data-div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 10px;
}

.data-div-item{
  display: flex;
  align-items: center;
  justify-content: right;
}

.name-div{
  text-align: center;
}

.block{
  background-color: var(--light-pink-color);
  border-radius: 10px;
  padding: 10px;
  border: solid 1px black;
  margin-top: 30px;
  max-width: 600px;

  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;

  overflow: auto;
}

button{
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px black;
  float: right;
}

h2{
  text-align: center;
}