<div class="hobby-list">
    <div class="filter_block">
      <h2>{{ "own_hobbies" | translate }}</h2>
      <div class="inner_div">
        <mat-form-field>
          <mat-label>{{"categories_filter" | translate }}: </mat-label>
          <mat-select [(ngModel)]="categoryFilter">
            <mat-option *ngFor="let category of categories" [value]="category">
              {{category.name | bilingualTranslate}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button class="btn btn-success" (click)="filter()" [matTooltip]="'filter' | translate">
          <mat-icon>filter_list</mat-icon>
        </button>
        <button class="btn btn-danger" (click)="categoryFilter = undefined; filter();" [matTooltip]="'delete_filter' | translate ">
          <mat-icon>clear</mat-icon>
        </button>
        <button class="btn btn-primary" [routerLink]="['/', globalVariables.ROUTES.addNewHobby]" *ngIf="online"
          [matTooltip]="'add_new_hobby' | translate ">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <div class="hobby-tile-container">
      <div class="hobby-tile" *ngFor="let hobby of hobbyList">
        <app-hobby-tile [hobby]="hobby" (addToOwnHobbiesEmitter)="addToOwnHobby($event)"
        (deleteActivityEmitter)="deleteOwnHobby($event)" [ownHobby]="true"></app-hobby-tile>
      </div>
    </div>
  </div>
  