/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import "~bootstrap/dist/css/bootstrap.min.css";

html, body {
  background-color:  rgb(103, 96, 59);
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

.toolbar, .sidenav-container, .sidenav {
  background-color:  rgb(103, 96, 59);
}

:root {
  --white-color: white;
  --success-color: rgb(85, 158, 85);
  --error-color: red;
  --info-color: rgb(38, 169, 221);
  --warning-color: rgb(238, 238, 76);
}

.success-snackbar {
  color: white;
  --mdc-snackbar-container-color: var(--success-color);
  --mat-mdc-snack-bar-button-color: var(--white-color);
}

.error-snackbar {
  color: white;
  --mdc-snackbar-container-color: var(--error-color);
  --mat-mdc-snack-bar-button-color: var(--white-color);
}

.warning-snackbar {
  color: white;
  --mdc-snackbar-container-color: var(--warning-color);
  --mat-mdc-snack-bar-button-color: var(--white-color);
}


.info-snackbar {
  color: white;
  --mdc-snackbar-container-color: var(--info-color);
  --mat-mdc-snack-bar-button-color: var(--white-color);
}


//félkövér betűstílus
.bold{
  font-weight: bold;
}

//dőlt betűstílus
.italic{
  font-style: italic;
}
