@import 'bootstrap/scss/bootstrap';

@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootstrap/scss/bootstrap";

$background_color: rgb(193, 108, 186);

html, body {
  background-color: $background_color !important;
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

.toolbar, .sidenav-container, .sidenav {
  background-color: $background_color !important;
}

:root {
  --white-color: white;
  --success-color: rgb(85, 158, 85);
  --error-color: red;
  --info-color: rgb(38, 169, 221);
  --warning-color: rgb(238, 238, 76);
}

.success-snackbar {
  color: white;
  --mdc-snackbar-container-color: var(--success-color);
  --mat-snack-bar-button-color: var(--white-color) !important;
}

.error-snackbar {
  color: white;
  --mdc-snackbar-container-color: var(--error-color);
  --mat-snack-bar-button-color: var(--white-color) !important;
}

.warning-snackbar {
  color: white;
  --mdc-snackbar-container-color: var(--warning-color);
  --mat-snack-bar-button-color: var(--white-color) !important;
}


.info-snackbar {
  color: white;
  --mdc-snackbar-container-color: var(--info-color);
  --mat-snack-bar-button-color: var(--white-color) !important;
}

.bold{
  font-weight: bold;
}

.italic{
  font-style: italic;
}

.login-signup-container{
  width: 70%;
  display: block;
  margin: auto;
  margin-top: 15px;
  padding: 5px;
}

.hobby-list {
  margin: 15px;
}

.hobby-tile-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  
}