<div class="hobby-list">
  <div class="filter_block">
    <h2>{{ "hobby_list" | translate }}</h2>
    <div class="inner_div">
      <mat-form-field>
        <mat-label>{{"categories_filter" | translate }}: </mat-label>
        <mat-select [(ngModel)]="categoryFilter">
          <mat-option *ngFor="let category of categories" [value]="category">
            {{category.name | bilingualTranslate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button class="btn btn-success" (click)="filter()" [matTooltip]="'filter' | translate">
        <mat-icon>filter_list</mat-icon>
      </button>
      <button class="btn btn-danger" (click)="categoryFilter = undefined; filter();" [matTooltip]="'delete_filter' | translate ">
        <mat-icon>clear</mat-icon>
      </button>
      <button class="btn btn-primary" *ngIf="sortOrder == true" (click)="sort()" [matTooltip]="'sort' | translate">
        <mat-icon>arrow_upward</mat-icon>
      </button>
      <button class="btn btn-primary" *ngIf="sortOrder == false" (click)="sort()" [matTooltip]="'sort' | translate">
        <mat-icon>arrow_downward</mat-icon>
      </button>
      <button class="btn btn-primary" *ngIf="sortOrder == undefined" (click)="sort()" [matTooltip]="'sort' | translate">
        <mat-icon>sort</mat-icon>
      </button>
    </div>
  </div>
  <div class="hobby-tile-container">
    <div class="hobby-tile" *ngFor="let hobby of hobbyList">
      <app-hobby-tile [hobby]="hobby" (addToOwnHobbiesEmitter)="addToOwnHobbies($event)"></app-hobby-tile>
    </div>
  </div>
</div>