<mat-toolbar class="fixed-header toolbar navbar-color mat-elevation-z8 p-0" fxLayout="row" fxLayoutAlign="start stretch" style="z-index: 2">

  <button mat-button class="sidenav-toggle" (click)="toggleSidenav.emit()" matTooltip="Menu">
    <mat-icon aria-hidden="false">menu</mat-icon>
  </button>

  <span>
    <a class="navbar-brand title" [routerLink]="[globalVariables.ROUTES.home]" [matTooltip]="'home' | translate">
      <span *ngIf="!isScreenSmall">{{ "title" | translate }}</span>
    </a>
  </span>

  <span class="example-spacer"></span>

  <button *ngIf="isLoggedIn" mat-button [matTooltip]="'my_profile' | translate"[routerLink]="[globalVariables.ROUTES.profile]">
    <mat-icon aria-hidden="false">
      <span>
        <img class="rounded-circle pfp" alt="profile_picture" referrerpolicy="no-referrer"
         [src]="user?.photoURL ? user?.photoURL :'../../../assets/images/pfp.jpg'">
        {{user?.fullName}}
      </span>
    </mat-icon>
  </button>

  <button mat-button [matTooltip]="'language' | translate" (click)="changeLanguage()">
    <mat-icon aria-hidden="false">language</mat-icon>
  </button>

  <button *ngIf="!isLoggedIn" mat-button [matTooltip]="'login' | translate" (click)="login()">
    <mat-icon aria-hidden="false">login</mat-icon>
  </button>

  <button *ngIf="isLoggedIn" mat-button [matTooltip]="'logout' | translate" (click)="logout()">
    <mat-icon aria-hidden="false">power_settings_new</mat-icon>
  </button>

</mat-toolbar>

<router-outlet></router-outlet>
