<div class="home">
    <h1>{{"title" | translate}}</h1>

    <div class="flex_div">
        <img [src]="'../../../assets/images/sakk.jpg'">
        <img [src]="'../../../assets/images/gitar.jpg'">
        <img class="lastbefore2" [src]="'../../../assets/images/festek.jpg'">
        <img class="lastbefore" [src]="'../../../assets/images/sport.jpg'">
        <img class="last" [src]="'../../../assets/images/termeszet.jpg'">
    </div>

    <div class="flex_div justify">
        {{"home_intro" | translate}}
    </div>

    <div class="flex_div justify">
        Elérhető funkciók: <br>
        - login <br>
        - register <br>
        - logout <br>
        - elfelejtett jelszó (email újraküldés) <br>
        - hobby lista <br>
        - saját hobbik lista <br>
        - hobby részletek <br>
        - hobby rögzítés (új activity) <br>
        - új saját hobbi rögzítése<br>
        - tevékenységnapló diagramokkal<br>
        - profil oldal<br>
        - nyelvváltoztatás<br>
        - kategorizált hobbik<br>
        - activity törlése<br>
        - kategória szűrés<br>
        - saját hobbi törlése<br>
        - offline mód<br>
        - hobbik rendezése <br>
    </div>

</div>